<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Reff_System</title>
  <link rel="stylesheet" href="/css/stylesn.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/css/welcome.avif" alt="1">
        <div class="text">
          <span class="text-1">Every new friend is a <br> Value for You</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="signup-form">
          <div class="cover">
            <div class="front">
              
              <div class="text">
                <span class="text-1">Every new friend is a <br> Value for You</span>
                <span class="text-2">Let's get connected</span>
              </div>
            </div>
          </div>
        </div>


        <div class="login-form">
          <div class="title">Admin Login</div>
          <form action="/auth/adminlogin" method="post">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" required name="email">
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" required name="passward" autocomplete="current-password">
              </div>
              <div class="text"><a href="#">Forgot password?</a></div>
              {{#if message}}
              <h4>{{message}}</h4>
              {{/if}}
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>