<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Reff_System - Home</title>
  <link rel="stylesheet" href="/css/home_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header class="header">
    <div class="containerh">
      <h1>Reff_System</h1>
      <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/reff_profile">Refferal Account</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">

    <div class="main-content">
      <img src="/css/welcome.avif" alt="Centered Image">
      <div>
      <div class="cover">
        <div class="front">
          <div class="text">
            <h2 class="text-1">Welcome to Reff_System</h2>
            <h3 class="text-2">Connecting Friends adding Values</h3>
            
          </div>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem itaque dicta optio totam accusamus omnis, a quibusdam quam,</p><p></p> architecto voluptate, tenetur dolorum nihil saepe laudantium ducimus veritatis debitis? Vel, sint!</p>
    </div>
  </div>
  </div>
</body>

</html>
