.header {
    background: #7d2ae8;
    color: #fff;
    width: 100%;
}

.containerh {
    position: relative;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    max-width: 25%;
}

nav ul {
    padding-top: 20px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #5b13b9;
}

body {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #7d2ae8;
}

.container {
    position: relative;
    max-width: 100%;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    

}

.container .main-content {
    max-width: 1500px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 200px;
    margin-left: auto; /* Center the main content horizontally */
    margin-right: auto;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}



.input-boxx input {
    width: calc(100% - 30px);
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}


.button input {
    background: #5b13b9;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    max-width: 30%;
}

.button input:hover {
    background: #4c0f9e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto; /* Add this to center the table horizontally */
    margin-right: auto;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.table-width {
    width: 1200px; 
}

.pagination{
    padding-top: 20px;
}


#prevPage, #nextPage{
    background: #5b13b9;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 10px;
    margin: 10px 10px;
}

#prevPage:hover {
    background: #b89bdf;
}

#nextPage:hover {
    background: #b89bdf;
}